script(type='text/javascript')
  var pusher = new Pusher('f6cbbef2da8723374cb3');
  var channel = pusher.subscribe('#{ _id }');
  var videoIndex = 0;
  var videoLoop = 0;

section#game
  div.row#user-panel
 
  div.row#section-titles
    div.span4
      h3 Questions Remaining
    div.span8
      h3#round Round 1 of 3
    div.span4
      h3 Activity Feed

  div.row
    div.span4#question-list

    div.span8#video-player
      div.waiting
        h3 Waiting for others to join
        h2 Share this link to play with friends
        form#invite-form
          input(type='text', id='share-link')  

    div.span4#news-feed

  div.row
    div.offset4.span8.offset4#question-prompt
      form(method='post', action='answer').form-stacked
        label Select a new question to answer!
        input(type='text', name='answer', id='question-answer')
        input(type='hidden', name='clipId', id='question-clip-id')
        input(type='hidden', name='question', id='question-type', value='')
        button(type='submit', class='btn primary') Submit

// !!! The mustache varibles I use here are just temporary, not sure what the names will actually be
script(id='user', type='text/html')
  span.hidden.userId {{ userId }}
  img(src='http://graph.facebook.com/{{ facebookId }}/picture')
  h3 {{ displayName }}
  p points: {{ points }}

script(id='question', type='text/html')
  span {{ shortText }}

script(id='news', type='text/html')
  div.news-item.clearfix
    img(src='http://graph.facebook.com/{{ facebookId }}/picture')
    p +1 for 
      span {{ answer }}
      [{{ questionType }}]

script(id='winner', type='text/html')
  div.winner
    h2 You won! Good for you.
    p Go to 
      a(href='/') lobby
      ?

script(id='loser', type='text/html')
  div.loser
    h2 You should watch more movies.
    p Go to 
      a(href='/') lobby
      ?

script(id='alert', type='text/html')
  div.news-item.clearfix.alert
    p {{ text }}

script(id='forceStart', type='text/html')
  h2 You can now force the game to start if you no longer want to wait for other players 
  form#force-start-form
    button.btn.primary Start Game

// Bootstrap
script(id='bootstrap-users', type='text/bootstrap')
  !{ JSON.stringify(players) }

script(id='bootstrap-clips', type='text/bootstrap')
  !{ JSON.stringify(clips) }

input(type='hidden', value='#{ user.id }')#user-id
