!!! 5
html
  head
    title #{ title }

    // Stylesheet
    link(rel='stylesheet', href='/stylesheets/style.css')

    // Facebook
    script(type='text/javascript', src='http://static.ak.fbcdn.net/connect/en_US/core.js')

    // Libraries
    script(type='text/javascript', src='/javascripts/lib/jquery.js')
    script(type='text/javascript', src='/javascripts/lib/underscore.js')
    script(type='text/javascript', src='/javascripts/lib/backbone.js')
    script(type='text/javascript', src='/javascripts/lib/ICanHaz.js')
    script(type='text/javascript', src='/javascripts/lib/mustache.js')
    script(type='text/javascript', src='/javascripts/lib/pusher.js')
    script(type='text/javascript', src='/javascripts/lib/backpusher.js')

    // Backbone - Lobby
    script(type='text/javascript', src='/javascripts/backbone/lobby/LobbyView.js')
    script(type='text/javascript', src='/javascripts/backbone/lobby/game/Game.js')
    script(type='text/javascript', src='/javascripts/backbone/lobby/game/GameView.js')
    script(type='text/javascript', src='/javascripts/backbone/lobby/games/Games.js')
    script(type='text/javascript', src='/javascripts/backbone/lobby/games/GamesView.js')

    // Backbone - Game
    script(type='text/javascript', src='/javascripts/backbone/game/GameView.js')
    script(type='text/javascript', src='/javascripts/backbone/game/clip/Clip.js')
    script(type='text/javascript', src='/javascripts/backbone/game/clip/ClipView.js')
    script(type='text/javascript', src='/javascripts/backbone/game/clips/Clips.js')
    script(type='text/javascript', src='/javascripts/backbone/game/clips/ClipsView.js')
    script(type='text/javascript', src='/javascripts/backbone/game/question/Question.js')
    script(type='text/javascript', src='/javascripts/backbone/game/question/QuestionView.js')
    script(type='text/javascript', src='/javascripts/backbone/game/questions/Questions.js')
    script(type='text/javascript', src='/javascripts/backbone/game/questions/QuestionsView.js')
    script(type='text/javascript', src='/javascripts/backbone/game/user/User.js')
    script(type='text/javascript', src='/javascripts/backbone/game/user/UserView.js')
    script(type='text/javascript', src='/javascripts/backbone/game/users/Users.js')
    script(type='text/javascript', src='/javascripts/backbone/game/users/UsersView.js')

  body
    include includes/header
    div.container
      !{ body }
    include includes/footer
