h1 Lobby

div#gamesView
  input(id="new-game", placeholder="Create new game", type="text")
  ul#gamesList

//ICanHaz Templates
script(id="game", type="text/html")
  div.gameRow
    div.gameName {{gameName}}
    div.gameNumPlayers ({{numPlayers}}/4)

//bootstrap collection
script
  $(document).ready(function() {
  
  $.get('/games', function(data) {
       App.gamesView.addAll(data);
  });
  
  var pusher = new Pusher('f6cbbef2da8723374cb3');
  var channel = pusher.subscribe('gameList');
  channel.bind('incrementEvent', function(conditions) {
    var gameId = conditions._id;
    var gameModel = App.games.get(gameId);
    if (gameModel) {
       var currentPlayers = gameModel.get("numPlayers");
       gameModel.set({numPlayers: currentPlayers+1});
    }
    });
    channel.bind('markInactiveEvent', function(conditions) {
      var gameModel = App.games.get(conditions._id);
      App.gamesView.remove(gameModel);
    });
    });
