h1 Lobby

div#gamesView
  form(id="newGameForm", action="/game", method="post")
    input(id="new-game", class="xlarge", placeholder="Create new game", type="text", name="gameName")
  table#gamesTable.zebra-striped
    thead
      tr
        th Game Name
        th # of Players
    tbody#gamesList

//ICanHaz Templates
script(id="game", type="text/html")
  td.gameName {{gameName}}
  td.gameNumPlayers ({{numPlayers}}/4)

//bootstrap collection
script
  $(document).ready(function() {
  
  $.get('/games', function(data) {
       App.gamesView.addAll(data);
  });
  //$("#gamesTable").tablesorter();
  
  var pusher = new Pusher('f6cbbef2da8723374cb3');
  var channel = pusher.subscribe('gameList');
  channel.bind('incrementEvent', function(conditions) {
    var gameId = conditions._id;
    var gameModel = App.games.get(gameId);
    if (gameModel) {
       var currentPlayers = gameModel.get("numPlayers");
       gameModel.set({numPlayers: currentPlayers+1});
    }
    });
    channel.bind('markInactiveEvent', function(conditions) {
      var gameModel = App.games.get(conditions._id);
      App.gamesView.remove(gameModel);
    });
    channel.bind('newGameEvent', function(conditions) {
      var gameModel = new Game(conditions);
      App.gamesView.addOne(gameModel);
    });
    });
