section#log-in
  div.row
    div.offset4.span8
      div#fb-login.fb_button(style='background-position:left -60px')
        a.fb_button_xlarge(href='/auth/facebook')
          span#fb_login_text.fb_button_text Connect with Facebook
