section#log-in
  div.row
    div.screenshot-wrapper
      img(src='/images/image1.png')
    div.screenshot-wrapper
      img(src='/images/image2.png')
    div.screenshot-wrapper
      img(src='/images/image3.png')
  
  div.row
    div.screenshot-text 
      p Join a game.
    div.screenshot-text 
      p Invite friends. 
    div.screenshot-text 
      p Let the good times roll. 
   div.row
    div.offset4.span8
      div#fb-login.fb_button(style='background-position:left -60px')
        a.fb_button_xlarge(href='/auth/facebook')
          span#fb_login_text.fb_button_text Connect with Facebook
     
