#game {
  #user-panel {
    div.user-meta {
      .border-radius(5px);
      .box-shadow();

      img {
        float: left;
        margin: 8px;
        border: 1px solid #fff;
      }

      h3 {
        font-size: 16px;
      }

      p {
        #font .sans-serif(normal, 16px, 24px);
        color: #404040;
      }

      &:nth-child(1) {
        background: #67e46f;
      }
      &:nth-child(2) {
        background: #5dc8cd;
      }
      &:nth-child(3) {
        background: #ffb473;
      }
      &:nth-child(4) {
        background: #ff7673;
      }
    }
  }
  #question-list {
    margin: 30px 0;
    visibility: none;
    .box-shadow();
    .question {
      p {
        #font .sans-serif(bold, 16px, 24px);
      }
    }
  }
  #video-player {
    margin: 30px 0;
    .waiting {
      text-align: center;
    }
    object {
      margin: 0 auto;
    }

  }
  #news-feed {
    margin: 30px 0;
  }
  #question-prompt {

  }
}
